<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crabapple1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,158},{86,122}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{86,122}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
			<key>crabapple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,158},{86,122}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,25},{86,122}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple3.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,158},{88,122}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{88,122}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,158},{88,122}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,26},{88,122}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,158},{90,124}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{90,124}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,158},{90,124}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{90,124}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple7.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,158},{90,126}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,23},{90,126}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{92,126}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,23},{92,126}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,158},{94,128}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{94,128}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,156},{96,130}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{96,130}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,156},{96,132}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{96,132}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,154},{98,134}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{98,134}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,2},{100,136}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,17},{100,136}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,152},{100,140}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{100,140}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,150},{102,142}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{102,142}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{104,146}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{104,146}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{104,148}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{104,148}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2},{106,150}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{106,150}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{108,152}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{108,152}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{108,154}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{108,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{110,154}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{110,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple22.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{112,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{112,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple23.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{112,154}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{112,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,156}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{112,156}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple25.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{114,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{114,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple26.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{114,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{114,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple27.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{116,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple28.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{116,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{116,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple29.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{118,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{118,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple30.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{118,154}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{118,154}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>crabapple31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{118,152}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{118,152}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>crabapple.png</string>
            <key>size</key>
            <string>{1968,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f892a19ed75498af2acdc740c6f7d84:1/1$</string>
            <key>textureFileName</key>
            <string>crabapple.png</string>
        </dict>
    </dict>
</plist>
