<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lily01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,398},{64,62}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,73},{64,62}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
			<key>lily02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,582},{68,66}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,70},{68,66}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
			<key>lily03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,860},{74,72}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,66},{74,72}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
			<key>lily04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,780},{80,78}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,62},{80,78}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1070},{90,86}}</string>
                <key>offset</key>
                <string>{3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{90,86}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,972},{98,96}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{98,96}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily07.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1324},{110,106}}</string>
                <key>offset</key>
                <string>{5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,42},{110,106}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily08.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1688},{124,118}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,32},{124,118}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1870},{142,130}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,24},{142,130}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1870},{160,142}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,17},{160,142}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1882},{176,152}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{176,152}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily12.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,972},{190,162}}</string>
                <key>offset</key>
                <string>{11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,9},{190,162}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{202,172}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{202,172}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,398},{208,182}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{208,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{214,190}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{214,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,194}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{216,194}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily17.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{214,196}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{214,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily18.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{212,196}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{212,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{208,196}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{208,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,582},{204,196}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{204,196}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{200,194}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,31},{200,194}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,780},{196,190}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{196,190}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{192,188}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,38},{192,188}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily24.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1136},{188,186}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,40},{188,186}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{186,184}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{186,184}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily26.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1324},{184,180}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,45},{184,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily27.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1506},{182,180}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,45},{182,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{182,182}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,42},{182,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{180,182}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{180,182}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{180,180}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{180,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>lily31.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1688},{180,180}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{180,180}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lily.png</string>
            <key>size</key>
            <string>{488,2036}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af4770406851488968e7d7d9939bed97:1/1$</string>
            <key>textureFileName</key>
            <string>lily.png</string>
        </dict>
    </dict>
</plist>
