<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lotus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,432},{116,108}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{116,108}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
			<key>lotus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,640},{120,112}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{120,112}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
			<key>lotus3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,754},{124,118}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,58},{124,118}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
			<key>lotus4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,880},{128,122}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,54},{128,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus5.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1010},{134,128}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{134,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1172},{140,134}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,45},{140,134}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1344},{146,140}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,40},{146,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1676},{154,144}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,37},{154,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus9.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1512},{160,148}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,35},{160,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1822},{170,152}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{170,152}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1838},{178,156}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{178,156}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus12.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1676},{186,160}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{186,160}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1512},{190,162}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{190,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1344},{196,166}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{196,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus15.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1172},{200,170}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{200,170}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,998},{206,172}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,27},{206,172}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,820},{210,176}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{210,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,640},{214,178}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{214,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{218,184}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{218,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{222,188}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{222,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{222,194}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{222,194}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{224,198}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{224,198}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{224,202}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{224,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{226,204}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{226,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,432},{226,206}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{226,206}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{226,210}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{226,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus27.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,218},{228,212}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{228,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{228,212}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{228,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus29.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,214}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{228,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{228,214}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{228,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lotus31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,214}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{228,214}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lotus.png</string>
            <key>size</key>
            <string>{570,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4fe838bd3dd3bdd4a919216ba420cbe:1/1$</string>
            <key>textureFileName</key>
            <string>lotus.png</string>
        </dict>
    </dict>
</plist>
