<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_mingmah_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,358},{54,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,44}}</string>
                <key>sourceSize</key>
                <string>{54,44}</string>
            </dict>
            <key>3_mingmah_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,762},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,706},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,818},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,930},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,874},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,650},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,594},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,762},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,706},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,818},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,323},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,267},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,939},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,883},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,412},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,475},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,650},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,544},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,594},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,762},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,706},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,827},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,356},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,300},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,419},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,650},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,488},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,544},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,594},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,771},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,715},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,488},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,544},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>3_mingmah_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,488},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,48}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>game_mj_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,414},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>game_mj_bt_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{261,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,146}}</string>
                <key>sourceSize</key>
                <string>{261,146}</string>
            </dict>
            <key>game_mj_bt_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,145}}</string>
                <key>sourceSize</key>
                <string>{327,145}</string>
            </dict>
            <key>game_mj_bt_nopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,88},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,88},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_hun_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,263},{27,35}}</string>
                <key>offset</key>
                <string>{30,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,8},{27,35}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>game_mj_hunbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,150},{81,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,115}}</string>
                <key>sourceSize</key>
                <string>{81,115}</string>
            </dict>
            <key>game_mj_op_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,397},{123,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>game_mj_op_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,872},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,109}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>game_mj_op_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,619},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>game_mj_op_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,280},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>game_mj_op_guo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,515},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>game_mj_op_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{151,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,129}}</string>
                <key>sourceSize</key>
                <string>{151,129}</string>
            </dict>
            <key>game_mj_op_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,597},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>game_mj_op_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,743},{127,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,116}}</string>
                <key>sourceSize</key>
                <string>{127,116}</string>
            </dict>
            <key>game_mj_op_peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,891},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>game_mj_op_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,419},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,67}</string>
            </dict>
            <key>game_mj_op_ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,489},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>game_mj_op_ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,149},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>game_mj_op_zimo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,150},{183,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,111}}</string>
                <key>sourceSize</key>
                <string>{183,111}</string>
            </dict>
            <key>game_mj_pai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>game_mj_pao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,60},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,211},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>game_mj_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,31},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_paobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,988},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>game_mj_time_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{220,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,35}}</string>
                <key>sourceSize</key>
                <string>{220,35}</string>
            </dict>
            <key>game_mj_timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,263},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game_mj_timer_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,613},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>game_mj_timer_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,619},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>game_mj_timer_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,893},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>game_mj_timer_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>game_mj_ting_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,988},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>game_mj_up_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,186},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>game_mj_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,530},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>hand_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,515},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>hand_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,448},{37,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,80}}</string>
                <key>sourceSize</key>
                <string>{37,80}</string>
            </dict>
            <key>hand_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,756},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameMaJiang2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54afc59a7896ca7081aa9266ede4b8c4:1/1$</string>
            <key>textureFileName</key>
            <string>GameMaJiang2.png</string>
        </dict>
    </dict>
</plist>
