<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_mj_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>game_mj_bt_nopao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,133},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,88},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_bt_pao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,84}}</string>
                <key>sourceSize</key>
                <string>{200,84}</string>
            </dict>
            <key>game_mj_op_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,543},{123,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,116}}</string>
                <key>sourceSize</key>
                <string>{123,116}</string>
            </dict>
            <key>game_mj_op_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,661},{114,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,109}}</string>
                <key>sourceSize</key>
                <string>{114,109}</string>
            </dict>
            <key>game_mj_op_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,417},{135,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,124}}</string>
                <key>sourceSize</key>
                <string>{135,124}</string>
            </dict>
            <key>game_mj_op_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,632},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>game_mj_op_guo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,528},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>game_mj_op_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,287},{151,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,129}}</string>
                <key>sourceSize</key>
                <string>{151,129}</string>
            </dict>
            <key>game_mj_op_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>game_mj_op_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{127,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,116}}</string>
                <key>sourceSize</key>
                <string>{127,116}</string>
            </dict>
            <key>game_mj_op_peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,418},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,108}</string>
            </dict>
            <key>game_mj_op_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,597},{107,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,67}}</string>
                <key>sourceSize</key>
                <string>{107,67}</string>
            </dict>
            <key>game_mj_op_ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{128,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,139}}</string>
                <key>sourceSize</key>
                <string>{128,139}</string>
            </dict>
            <key>game_mj_op_ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>game_mj_op_zimo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{183,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,111}}</string>
                <key>sourceSize</key>
                <string>{183,111}</string>
            </dict>
            <key>game_mj_pao0.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,335},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_pao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,133},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>game_mj_pao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,405},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_pao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,382},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,27}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>game_mj_paobg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,330},{50,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,29}}</string>
                <key>sourceSize</key>
                <string>{50,29}</string>
            </dict>
            <key>game_mj_timer_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game_mj_timer_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>game_mj_timer_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,528},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>game_mj_timer_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,580},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>game_mj_timer_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,287},{50,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,128}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>game_mj_ting_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,294},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>game_mj_zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,335},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MJGameRes.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e5ef2bb82b5e10a48d2ad0f2c7d04a$</string>
            <key>textureFileName</key>
            <string>MJGameRes.png</string>
        </dict>
    </dict>
</plist>
